.title {
	font-weight: bold;
	font-size: 30px;
}

table{
	border: 2px solid #d2d2d2;
	border-collapse: collapse;
	font-size: 0.9em;
	text-align:center;
	  width: 100%;
  	max-width: 100%;
  	table-layout: fixed;
	transform: scale(0.8);
	flex:1;
}

.table {
    width: 800px;
    height: 300px;
	/* table-layout: fixed; */
}

.table-form-wrapper {
      display: flex;
      flex-direction: row;
    }
.table-form-wrapper > * {
  flex: 1;
  margin: 0 100px;
}

th, td{
	border: 1px solid #d2d2d2;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
	table-layout: fixed;
}

th{
	width:80px;
	height: 50px;
	font-size:18px;
}

td {
	width: 75px;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	text-align:center;
	font-weight: bold;
	font-size:18px;
}

caption{
	font-size:30px;
	margin-bottom:15px;
	margin-top:0;
	text-align:center;
}

form {
	top: 200px;
	right: 500px;
	max-width: fit-content;
	padding-right:200px;
}

#btnAdd {
	/* position: absolute; */
	top: 450px;
	right: 50px;
}

Container {
	display: flex;
	justify-content: center;
	align-items: center;
}

th:first-child, td:first-child {
  width: 30px;
}