.title {
	font-weight: bold;
	font-size: 30px;
}

table{
	border: 2px solid #d2d2d2;
	border-collapse: collapse;
	font-size: 0.9em;
	text-align:center;
	width: 600px;
	height: 500px;
	margin-left:150px;
}

.table {
    width: 800px;
    height: 300px;
	table-layout: fixed;
}

th, td{
	border: 1px solid #d2d2d2;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
}

th{
	width:80px;
	height: 50px;
}

td {
	width: 75px;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	text-align:center;
	font-weight: bold;
}

caption{
	font-size:30px;
	margin-bottom:15px;
	margin-top:40px;
	text-align:center;
}

form {
	position: absolute;
	top: 200px;
	right: 750px;
}

#btnAdd {
	position: absolute;
	top: 450px;
	right: 50px;
}

th:first-child, td:first-child {
  width: 30px;
}