.title {
	font-weight: bold;
	font-size: 30px;
}

table{
	border: 2px solid #d2d2d2;
	border-collapse: collapse;
	font-size: 0.9em;
	text-align:center;
	width: 600px;
	height: 600px;
	margin-left:150px;
}

th, td{
	border: 1px solid #d2d2d2;
	border-collapse: collapse;
}

th{
	width:80px;
	height: 50px;
}

td {
	width: 75px;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

caption{
	font-size:30px;
	margin-bottom:15px;
	margin-top:100px;
	text-align:center;
}

form {
	margin-top:150px;
	/* margin-right:150px; */
}

#btnAdd {
	position: absolute;
	top: 630px;
	right: 250px;
}